body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 p{
  color: blue;
  font-size: medium;
  display: inline-flex;
  padding: 3px;
}

ul.header {
  background-color:orange;
  width: 20%;
  margin-left: 37%;
  margin-right: 30%;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.active {
  background-color: blue;
}

button.ui.button {
  background-color: green;
}


